# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/database_name?schema=public"

# Application
NODE_ENV=development
PORT=3000
JWT_SECRET=your_jwt_secret_key
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
JWT_ACCESS_TOKEN_EXPIRY=
JWT_REFRESH_TOKEN_EXPIRY=

RATE_LIMIT_TTL=
MAX_REQUEST=
MAX_AUTH_REQUEST=